Pillow
# Optional dependencies for rendering/input backends
PyQt6>=6.5
PyOpenGL>=3.1
PySDL2
miniaudio>=1.61
lameenc>=1.8
markdown
maturin
websockets
mkdocs-material
mkdocstrings[python]
mkdocstrings[rust]
PyYAML
